.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 300px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
    width: 300px;
    background: darkslategray;
  }
  .card_image {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
    margin-top: auto;
  }
  .card_image img{
    border-radius: 18px;
  }
  .card_text {
    grid-area: text;
    margin: 25px;
  }
  .card_text .date {
    color: rgb(255, 7, 110);
    font-size:16px;
    font-weight: bolder;
  }
  .card_text p {
    color: white;
    font-size:15px;
    font-weight: 300;
  }
  .card_text h2 {
    margin-top:0px;
    font-size:22px;
    color: yellow;
  }
  .card_info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: darkslategray;
  }
  .card_info .info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding:10px;
    font-size: 14px;
    font-weight: bold;
  }
  .card_stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(255, 7, 110);
  }
  .card_stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding:10px;
    font-size: 14px;
    font-weight: bold;
  }
  .card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.8);
  }
  .card {
  
    transition: 0.5s ease;
    cursor: pointer;
    margin:40px;
  }